@import "src/reboot";
@import "src/keyframes";
@import "src/bottom-sheet";

body {
    font-size: 20px;
    background-image: linear-gradient(#00aa13, #1ab32b, #009911);
}

.header {
    display: flex;    
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}