.c-bottom-sheet {
	$component: &;
	pointer-events: none;
	visibility: hidden;

	&.active {
		visibility: visible;
		pointer-events: unset;
	}

	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 15;
	transition: opacity, visibility .25s;

	&__scrim {

		opacity: 0;

		.active & {
			opacity: 1;
		}

		display: block;
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0, 0, 0, .3);
		transition: opacity .3s;
		top: 0;
	}

	&__content {
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		min-height: 38vh;

		background-color: white;
		border-radius: 12px 12px 0 0;
		padding: 0 1.5rem 1rem 1.5rem;
		animation: cubic-bezier(0.4, 0.0, 0.2, 1) .2s slideUp-0 forwards;

		.active & {
			animation: cubic-bezier(0.4, 0.0, 0.2, 1) .25s slideUp-1 forwards
		}
	}

	&__handle {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: .5rem;
		padding-bottom: 1rem;

		> span {
			display: block;
			height: 2px;
			width: 28px;
			margin-bottom: 2px;
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 2px;
		}
	}

	&__item {
		$border-item: 1px solid rgba(0, 0, 0, .3);
		width: 100%;
		list-style: none;

		border-bottom: $border-item;
		padding: 1rem 0;

		&:first-child {
			margin-top: 40px;
			border-top: $border-item;
		}

		&.active {
			font-family: sans-serif;
			font-weight: 900;
		}
	}

	&__link {
		display: flex;
		justify-content: space-between;
		font-family: inherit;
	}

	&__list {
		margin: 0;
		padding: 0;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__tick {
		display: none;
		font-size: 24px;
		object-fit: contain;
		vertical-align: middle;

		&:before {
			color: #48AF4A;
		}

		#{$component}__item.active & {
			display: block;
		}
	}

	// on larger screen
	@media screen and (min-width: 769px) {
		// display: none;
	}
}
